# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Generated images
*.png
*.jpg
*.jpeg

# Virtual environments
venv/
env/
.env/
.venv/

# IDEs
.vscode/
.idea/

# Distribution / packaging
dist/
build/
*.egg-info/
